<div class="container">
  <form class="form form-control">
    <div class="input-group">
      <input
        type="file"
        class="form-control"
        id="fileInput"
        (change)="onFileSelected($event)"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="fileUpload"
        (click)="onUpload($event)"
      >
        Upload
      </button>
    </div>
    <div *ngIf="headers.length" class="mt-5">
      <div>
        <table class="table table-size">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Header</th>
              <th scope="col">Map Json Key</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let header of headers; let i = index">
              <td scope="row">{{ i + 1 }}</td>
              <td>{{ header }}</td>
              <td><input type="text" class="form form-control" [(ngModel)]="jsonKeyValues[header]" name="jsonKeyValues" /></td>
            </tr>
          </tbody>
        </table>
      </div> 
      <div class="mt-5">
        <b>Enter Extra fields to be added in Json</b>
        <table class="table table-size">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Key Name</th>
              <th scope="col">Type</th>
              <th scope="col">Direction</th>
              <th scope="col">Start Value</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let keys of extraJsonKeys; let i = index">
              <td scope="row">{{ i + 1 }}</td>
              <td>
                <input
                  type="text"
                  class="form form-control"
                  (change)="setKeyName($event, i)"
                />
              </td>
              <td>
                <app-dropdown
                  [items]="keyTypes"
                  [btnName]="'Select Type'"
                  (selectedItem)="selectKeyType($event, i)"
                ></app-dropdown>
              </td>
              <td>
                <app-dropdown
                *ngIf="keys.displayType === 'dropdown'"
                  [items]="directions"
                  [btnName]="'Select Direction'"
                  (selectedItem)="selectedDirection($event, i)"
                ></app-dropdown>
              </td>
              <td>
                <input
                *ngIf="keys.displayType === 'dropdown'"
                  type="text"
                  class="form form-control"
                  (change)="setStartValue($event, i)"
                />
              </td>
              <td>
                <input
                *ngIf="keys.displayType === 'value'"
                type="text"
                class="form form-control" />
              </td>
              <td>
                <button class="btn btn-danger" (click)="removeJsonKey(i); $event.preventDefault();">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" (click)="addJsonKey(); $event.preventDefault()">Add New Item</button>
      </div>
      <div class="mt-5">
        
        <div class="input-group">
          <span class="pe-1">Output File Name:</span>
          <div class="pe-1">
            <input
            type="text"
            class="form-control"
            id="fileOutput"
            (change)="onOutputFileNameSelected($event)"/>  
          </div>
          <button class="btn btn-outline-secondary" (click)="onDownload(); $event.preventDefault()">Download JSON</button>  
          </div>
      </div>
    </div>
  </form>
</div>
